<div class="pa-4">
    <MudText Typo="Typo.h6" Class="mb-2">
        🏍️ MotoNomad
    </MudText>
    <MudDivider Class="mb-4" />
    
    <MudNavMenu>
        <AuthorizeView>
            <Authorized>
                <MudNavLink 
                    Href="/trips" 
                    Icon="@Icons.Material.Filled.Map"
                    Match="NavLinkMatch.All">
                    My Trips
                </MudNavLink>
                
                <MudNavLink 
                    Href="/trip/create" 
                    Icon="@Icons.Material.Filled.Add">
                    New Trip
                </MudNavLink>
                
                <MudDivider Class="my-2" />
                
                <MudNavLink 
                    OnClick="@HandleLogout"
                    Icon="@Icons.Material.Filled.Logout">
                    Logout
                </MudNavLink>
            </Authorized>
            
            <NotAuthorized>
                <MudNavLink 
                    Href="/login" 
                    Icon="@Icons.Material.Filled.Login">
                    Login
                </MudNavLink>
                
                <MudNavLink 
                    Href="/register" 
                    Icon="@Icons.Material.Filled.PersonAdd">
                    Register
                </MudNavLink>
            </NotAuthorized>
        </AuthorizeView>
    </MudNavMenu>
</div>
